#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
div{
  border: 1px solid #747bff;;
}
input{
  background-color: rgb(170, 198, 251);
  color: rgb(26, 26, 26);
}







